.ProfileDetails {
    padding: 8px;
    border-bottom: 1px solid var(--border-color);
}

.loadingOrHasError {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}